<section class="reviews-section">
    <div class="container container-reviews">
        <h2 class="reviews-title">Reviews</h2>
        <div class="flex-reviews">
            <div class="swiper-reviews">
                <ul class="reviews-list"></ul>
                <div class="reviews-buttons-wrapper">
                    <button type="button" class="reviews-button-prev reviews-button"
                        aria-label="Swipe to the previous slide">
                        <svg class="reviews-icon">
                            <use href="./img/icons.svg#icon-arrow-left"></use>
                        </svg>
                    </button>
                    <button type="button" class="reviews-button-next reviews-button"
                        aria-label="Swipe to the next slide">
                        <svg class="reviews-icon">
                            <use href="./img/icons.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>