/* ___________Mobile adaptation___________*/

.page-header {
  position: absolute;
  top: 32px;
  right: 0;
  left: 0;
}

.page-navigation {
  display: flex;
  justify-content: space-between;
}

.header-logo-link {
  display: flex;
  gap: 8px;
  border: 1px solid transparent;
  height: 80px;
}

.header-logo-link:focus {
  border: 1px solid rgba(250, 250, 250, 1);
  outline: transparent;
}

.header-menu-container {
  display: none;
}

.header-order-link {
  display: none;
}

.mobile-menu-btn {
  position: relative;
  width: 28px;
  height: 28px;
  background-color: transparent;
}

.mobile-menu-btn-icon {
  position: absolute;
  top: 0;
  right: 0;
  fill: #fafafa;
}
